html, body, #root {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.node {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

svg, svg * {
  pointer-events: none;
  z-index: 5;
}
svg:hover {
  z-index: 11;
}

svg path.connector-curve {
  fill: none;
  stroke: #ccc;
}

svg path.tmp-connector {
  fill: none;
  stroke: #888;
}

svg:hover path.connector-curve {
  fill: none;
  stroke: #4f4;
}

.port-connector {
  z-index: 10;
}