.container {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: -5px;
  left: -5px;
}

.container:hover {
  z-index: 11;
}

.path {
  fill: none;
  position: relative; 
  pointer-events: visibleStroke;
  stroke: #ccc;
}

.pathTmp {
  stroke: #888;
}

.path:hover, .pathTmp:hover {
  fill: none;
  stroke: #4f4 !important;
}