.container {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: -5px;
  left: -5px;
}

.container:hover {
  z-index: 11;
}

.path {
  fill: none;
  position: relative;
  pointer-events: visibleStroke;
  stroke: #ccc;
}

.pathTmp {
  stroke: #888;
}

.path:hover,
.pathTmp:hover {
  fill: none;
  stroke: #4f4 !important;
}

.waypoint {
  cursor: grab;
  pointer-events: all;
}

.waypoint:hover {
  cursor: grab;
  filter: drop-shadow(0 0 4px #444);
}

.waypoint.selected {
  stroke-width: 3px;
  filter: drop-shadow(0 0 4px var(--color-text));
  cursor: grab;
}

.waypoint {
  pointer-events: all;
  cursor: grab;
}

.waypoint:hover {
  filter: brightness(1.2);
}

.waypoint:active {
  cursor: grabbing;
}

/* .invalid {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: destroy 0.4s ease forwards;
}

@keyframes destroy {
  from {
    stroke-dashoffset: 0;
    opacity: 1;
    filter: blur(0);
  }
  to {
    stroke-dashoffset: 1000;
    opacity: 0;
    filter: blur(16px);
  }
} */
