.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-hover);
  border-radius: .5rem;
  padding: .5rem;
  box-shadow: 0 0 5px var(--color-hover);
  gap: .5rem;
}

.controlsPanelVertical {
  bottom: 80px;
  right: 40px; 
  width: 30px;
}

.controlsPanelHorizontal {
  bottom: 40px;
  right: 80px; 
  height: 30px;
  flex-direction: row;
}

.statusPanel {
  bottom: 80px;
  right: 80px; 
  width: 120px;
  font-size: 9px;
}

.controlButton {
  width: 30px;
  height: 30px;
}